  <br>
<!-- <header class="bg-blue col col-12"> -->
<div class="clearfix py2 my2">
  <div class="container">
  <div class="bg-blue col col-12"><h1 class="dbcommit"> DBCommit </h1></div>
  </div>
</div>
<!-- </header> -->

<div class="container">
<div class="clearfix">
  <div class="col col-12 bg-green">
    <span class="px2 frontpage"><i class="fa fa-github"></i></span>
    <span class="px2 frontpage2"><i class="fa fa-plus"></i></span>
    <span class="px2 frontpage"><img class="dbc" src="http://cmxhub.com/wp-content/uploads/2014/12/dbc.png"></span>
  </div>
</div>
</div>

<div class="container py4">
<div class="clearfix">
  <div class="container">
  <div class="col md-col-12 col-4">
    <img class="splash-img" src="http://devbootcamp.com/assets/images/pairing-at-desk.jpg"></img>
    <div class="bg-white subtext">
      <p> What does DBCommit do: </p>
      <ul>
        <li> You login with your github account. </li>
        <li> It shows your daily score for your commit messages. </li>
        <li> It shows your cohort's daily score for their commit messages. </li>
        <li> It shows the other cohort's daily scores for their commit messages. </li>
        <li> It shows the average score for commit messages. </li>
      </ul>
    </div>
  </div>
  </div>
<div class="container">
  <div class="col md-col-12 col-4">
    <img class="splash-img" src="http://devbootcamp.com/assets/images/whiteboard.jpg"></img>
    <div class="bg-white subtext">
      <p> Why use DBCommit: </p>
      <ul>
        <li> DBCommit helps you measure how good your commit messages are. </li>
        <li> DBCommit helps you improve the quality of your commit messages. </li>
        <li> Because you can. </li>
      </ul>
    </div>
  </div>
</div>

<div class="container">
  <div class="col md-col-12 col-4">
    <img class="splash-img" src="http://devbootcamp.com/assets/images/photo--careers-spotlight.jpg"></img>
    <div class="bg-white subtext">
      <p> Giving Back: </p>
      <ul>
        <p>We wanted to give back to not only the DBC community but the larger Ruby community.</p><p>That's why we wrapped up our commit scoring algorithm in to a gem. Just gem install dbcommit and commit using dbcommit to get feedback on the quality of your commits.</p>
      </ul>
    </div>
  </div>
</div>
</div>
</div>
